<div class="container" style="margin:100px auto">
    <div class="row">
        <div class="col-5">
            <h3 class="text-decoration-underline">Agregar una nueva noticia</h3>
            <form action="/admin/novedades/agregar" method="post" enctype="multipart/form-data">
                <div class="mb-3 row">
                    <input type="text" class="form-control" placeholder="Titulo*" name="titulo">
                </div>
                <div class="mb-3 row ">
                    <label>Imagen: <div class="input-group mb-3">
                            <input type="file" name="imagen" class="form-control" id="inputGroupFile02">
                        </div></label>
                </div>
                <div class="mb-3 row">
                    <textarea type="text" class="form-control" placeholder="Cuerpo*" name="cuerpo"></textarea>
                </div>
                <button type="submit" class="btn btn-success">Guardar <i class="fa-solid fa-circle-check"></i></button>
            </form>
            {{#if error}}
            <p class="message"><i class="fa-solid fa-triangle-exclamation"></i> {{message}}</p>
            {{/if}}
        </div>
    </div>
</div>